django
psycopg2
djangorestframework
channels[daphne]
django-rest-knox
django-cors-headers
pytest-django
dj-rest-auth
django-allauth
channels-redis
dj-database-url
requests
pyjwt
django-environ
django-storages
boto3
gunicorn
uvicorn
drf-spectacular